/* Estilos CSS para la página */

/* Fuente */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
/*Sobremi*/
.sobre-mi {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sobre-mi img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.sobre-mi h2 {
  color: #f38eba;
  font-size: 2em;
  margin-bottom: 20px;
}

.sobre-mi p {
  color: #444;
  font-size: 1.2em;
  text-align: center;
  max-width: 600px;
  margin-bottom: 20px;
}

.sobre-mi a {
  color: #f38eba;
  text-decoration: none;
  font-weight: bold;
}

.sobre-mi a:hover {
  text-decoration: underline;
}

/* Encabezado */
header {
  background-color: #F8E7E7;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav li {
  margin-right: 30px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  font-size: 18px;
  color: #7B4F4F;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  color: #AF6C6C;
}
/* Sección "Proyectos" */
#projects {
  background-color: #fff; /* blanco */
  padding: 40px;
}

#projects ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#projects li {
  margin-bottom: 20px;
}

#projects h3 {
  margin: 0;
  color: #f3dfe8; /* rosa pastel */
}

#projects p {
  margin: 0;
  color: #666; /* gris para contraste */
}

#projects a {
  color: #333; /* color oscuro para contraste */
  text-decoration: none;
  transition: color 0.3s;
}

#projects a:hover {
  color: #f3dfe8; /* rosa pastel */
}

/* Sección "Contacto" */
#contact {
  background-color: #f3dfe8; /* rosa pastel */
  padding: 40px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333; /* color oscuro para contraste */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #f3dfe8; /* rosa pastel */
  color: #333; /* color oscuro para contraste */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #e1c1d3; /* rosa pastel más oscuro */
}

/* Pie de página */
footer {
  background-color: #333; /* color oscuro */
  color: #fff; /* blanco */
